<h1>Users Index</h1>
{{#link-to 'users.new'}}New User{{/link-to}}

<table>
	<tr>
		<th>Name</th>
	</tr>
	{{#each user in model}}
	{{#if user.deleted_at}}
	<tr>
		<td>{{#link-to 'users.show' user}}{{user.name}}{{/link-to}}</td>
	</tr>
	{{/if}}
	{{/each}}
</table>